.home h1, .home p {
  text-align: center;
}

.home ul {
  text-align: center;
  list-style-type: none;
  padding: 0;
}

img {
  display: block;
  margin: 0 auto;
  width: 33%;
}

@media (max-width: 767px) {
  img {
    width: 50%;
  }
}